!!!
%html
  %head
    %title 4ye Collect Auth
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "main.css"}
  %body.popup-4ye
    %script{:src => "deps.js"}
    %script{:src => "auth.js"}
