!!!
%html
  %head
    %title 4ye Collect Auth
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "main.css"}
  %body.popup-4ye
    %div.token
    %button.signin 登录
    %button.signout 登出
    %script{:src => "deps.js"}
    %script{:src => "popup.js"}
